<div>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{ product.productName }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="model">
      <mat-header-cell *matHeaderCellDef> Model </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{ product.modelCode }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="serial">
      <mat-header-cell *matHeaderCellDef> Serial Number </mat-header-cell>
      <mat-cell *matCellDef="let product">
        {{ product.serialNumber }}
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
